/* Imports de fonts */

/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
}

/* HEADER */
header {
    height: 60px;
    background-color: #1B1426;
}

.header-top {
    display: none;
}

.header-bottom {
    height: 100%;
}

header nav {
    position: fixed;
    left: 0;
    top: 60px;
    width: 80vw;
    height: 100vh;
    background-color: grey;

    display: flex;
    flex-direction: column;
}

header .menu-usuarios {
    display: none;
}

.layout-grid {
    margin: 0 auto;
    width: 90%;
    height: 100%;
}

.alinhamento-between-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 86px;
}